.small_images {
    height: 60vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.small_images::-webkit-scrollbar {
    display: none;
}

.small_images img {
    width: 80px;
    height: 70px;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.3);
}

.s_main_img {
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: 500px !important;
    height: 300px !important;
}

.s_main_img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.s_box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 80vh;
    overflow: auto;
}

.single_box {
    position: relative;
    width: 100%;
    height: fit-content !important;
    display: flex;
    gap: 10px;
    align-items: center !important;
    border-bottom: 1px solid lightgray;
}

.single_box:hover {
    cursor: pointer;
    background-color: rgb(241, 239, 239);
    transition: all linear 0.4s;
}

.single_img {
    max-width: 100px !important;
    max-height: auto !important;
}

.s_box::-webkit-scrollbar-thumb {
    background: #1b2950;
    border-radius: 50rem;
}

.s_box::-webkit-scrollbar {
    width: 5px;
    max-height: 10px !important;
}

.s_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s_categories_P {
    padding: 0px 30px;
}

.tools {
    position: absolute;
    display: flex;
    gap: 5px;
    bottom: 10px;
    right: 40px;
}

.tools button {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}

.related {
    /* box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.2); */
    padding: 10px 10px;
}

.s_btn {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 10px;
}

.s_btn button {
    font-weight: 500;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    flex-grow: 1;
    border: none;
    outline: none;
}

.s_whatsapp {
    width: 100%;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: rgb(33, 211, 102, 0.9);
}

.s_cart {
    background-color: rgb(2, 2, 94, 0.9);
}

.s_cart:hover {
    color: white;
    font-weight: 600;
    background-color: rgb(2, 2, 94);
}

.s_whatsapp:hover {
    font-weight: 600;
    color: white;
    background-color: rgb(33, 211, 102);
}



.s_discount {
    position: absolute;
    width: fit-content;
    padding: 2px 10px;
    background-color: rgb(255, 0, 0.5) !important;
    top: 5px;
    font-size: 13px;
    border-radius: 40px;
    color: white;
}

.s-Image {
    width: 100%;
    height: auto;
}

.s-Image img {
    width: fit-content;
    height: auto;
    overflow: hidden;
}

.single_arrow1,
.single_arrow2 {
    color: white;
    position: absolute;
    top: 40%;
    background-color: transparent;
    font-size: 45px;
}

.single_arrow1 {
    left: 20px;
}

.single_arrow2 {
    right: 20px;
}

.single_arrow1:hover,
.single_arrow2:hover {
    cursor: pointer;
}

.size_box {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 10px 15px !important;
    margin: 0px 0px 10px 10px;
}

.size_box:hover {
    font-weight: 600;
    cursor: pointer;
    outline: 1px solid transparent;
    box-shadow: 0 0 2px 1px #1b2950;
}
.input_single {
    min-width: 30px;
    height: fit-content;
    background-color: transparent;
}

.sigle_quatity_main {
    display: flex;
    align-items: center !important;
    gap: 20px;
}

.sigle_quatity {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center !important;
    border: 1px solid lightgray !important;

}
.plus_btn {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border: none !important;
    outline: none !important;
    border: 1px solid lightgray !important;

}
.plus_btn:hover {
    border: none !important;
    outline: none !important;
}

.single_form select {
    background-color: transparent !important;
    border: 1px solid black;
    width: 95%;
}

.single_description {
    height: 70px;
    overflow: hidden;
}

.expanded {
    height: fit-content;
    overflow: visible;
}

.single_read_btn {
    background-color: #1b2950 !important;
    color: white !important;
}

.single_read_btn:hover {
    color: white;
}


@media screen and (min-width:769px) and (max-width:992px) {}

@media screen and (max-width:768px) {
    .single_form select {
        width: 100%;
    }

    .s_main_img {
        width: 400px !important;
    }

    .small_images {
        height: fit-content;
        justify-content: center;
        margin: 20px 0px;
        flex-direction: row;
        gap: 40px;
    }
}

@media screen and (max-width:992px) {
    .small_images {
        gap: 40px;
    }

    .s_box {
        height: 65vh;
    }

    .s_btn {
        margin-top: 20px !important;
        display: flex;
        justify-content: center;
    }

    .related {
        margin: 40px 0px;
    }

    .s_box::-webkit-scrollbar {
        display: none;
    }

}

@media screen and (max-width:440px) {
    .small_images {
        gap: 10px;
    }

    .s_categories_P {
        padding: 0px 15px;
    }

    .s_main_img {
        width: 300px !important;
        height: 200px !important;
    }
}

@media screen and (max-width:340px) {
    .s_main_img {
        width: 250px !important;
        height: 200px !important;
    }
}
