.panel_index {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b2950;
    color: white;
    top: 5px;
    right: 0px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 100%;
}
