.filter_col {
    height: 400px;
    width: 300px !important;
    background-color: #1b2950;
    position: absolute;
    top: 20px;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    left: -400px;
}

.showFilter {
    position: absolute;
    height: 400px;
    width: 300px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b2950;
    top: 20px;
    border-radius: 10px;
    padding: 20px 10px;
    z-index: 1000;
    right: 10px;
    transition: all ease-in-out 0.5s;
}

.search_bar {
    width: 80%;
    background-color: transparent;
    padding: 20px 10px !important;

}

.categories p {
    font-size: 15px;
    font-weight: 400;
    color: rgb(129, 128, 128);
}

.categories p:hover {
    cursor: pointer;
    transform: scale(1.03);
    border-bottom: 1px solid rgb(175, 136, 136);
    transition: all linear 0.3s;
}

.p_display {
    display: none;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: all linear 0.3s;
}

.card:hover .p_display {
    display: block;
}

.grid_icon {
    background-color: white;
    color: black;
    cursor: pointer;
}

.grid_icon.active {
    background-color: black;
    color: white;
}

.grid_icon {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem 0.8rem;
    background-color: #F6F8FA;
    font-size: 1rem;
}

/* /////////////////////////// */



.price {
    color: #6254F3;
    font-weight: 500;
}

.p_description {
    font-size: 13px;
    color: rgb(172, 171, 171);
    text-align: center;
    display: none;
}

.product {
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product_box {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.product_box:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.2);
}

.p_img_box {
    width: 100%;
    height: 250px;
}

.p_img_box img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
}

.p_card_btn1 {
    width: fit-content !important;
    position: absolute;
    right: -300px;
    bottom: 70px;
    border: none;
    outline: none;
    background-color: #fd5d39;
    color: white;
    font-weight: 600;
    padding: 10px 20px !important;
}


.p_card_btn1:hover {
    font-weight: 700;
    color: #1B2950;
    background-color: rgb(253, 93, 57, 0.4);
    transition: all linear 0.3s;
}

.p_card_btn2 {
    width: fit-content !important;
    position: absolute;
    right: -300px;
    bottom: 20px;
    border: none;
    outline: none;
    background-color: rgb(33, 211, 102);
    color: white;
    font-weight: 600;
    padding: 10px 20px !important;
}

.product_box:hover .p_card_btn1 {
    left: 30%;
    transition: all ease-in-out 0.3s;
}

.product_box:hover .p_card_btn2 {
    left: 22%;
    transition: all ease-in-out 0.3s;
}


.p_card_btn2:hover {
    font-weight: 700;
    color: #1B2950;
    background-color: rgb(33, 211, 102, 0.4);
    transition: all linear 0.3s;
}

.product_card_btns {
    display: none;
    height: 110px;
}

.product_box:hover .p_description,
.product_card_btns {
    display: block;
    transition: all linear 0.3s;
}

@media screen and (max-width:768px) {
    .p_img_box {
        height: 200px;
    }

    .search_bar {
        width: 95%;
    }
}

@media screen and (max-width:550px) {

    .p_card_btn1,
    .p_card_btn2 {
        font-size: 12px;
        padding: 10px 10px;
        word-wrap: normal !important;
    }

}

@media screen and (min-width:900px) and (max-width:1120px) {
    .product_box:hover .p_card_btn1 {
        left: 20%;
    }

    .product_box:hover .p_card_btn2 {
        left: 10%;
    }
}

@media screen and (min-width:769px) and (max-width:899px) {
    .product_box:hover .p_card_btn1 {
        left: 10%;
    }

    .product_box:hover .p_card_btn2 {
        left: 2%;
    }
}


@media screen and (max-width:429px) {

    .p_card_btn2 {
        font-size: 10px;
        padding: 10px 10px;
        word-wrap: normal !important;
    }

    .product_box:hover .p_card_btn1 {
        left: 10%;
    }

    .product_box:hover .p_card_btn2 {
        left: 2%;
    }
}

@media screen and (min-width:430px) and (max-width:549px) {

    .product_box:hover .p_card_btn1 {
        left: 20%;
    }

    .product_box:hover .p_card_btn2 {
        left: 10%;
    }
}