.filter_col {
    position: absolute;
    width: 300px !important;
    left: -400px;
}

.showFilter {
    position: absolute;
    height: 100vh;
    overflow: scroll;
    width: 300px !important;
    display: flex;
    flex-direction: column;
    gap: 40px !important;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
    top: 120px;
    border-radius: 7px;
    padding: 20px 10px;
    z-index: 10000;
    right: 10px;
    transition: all ease-in-out 0.5s;
}

.showFilter::-webkit-scrollbar-thumb {
    background: #1b2950;
    border-radius: 50rem;
    max-height: 40px !important;
}

.showFilter::-webkit-scrollbar {
    width: 5px;
    max-height: 10px !important;
}

.p_category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.p_category p {
    font-size: 18px !important;
    color: #1B2950 !important;
    font-weight: 600 !important;
}

.activeCategory {
    background-color: red !important;
    color: #fd5d39 !important;
    font-weight: 600 !important;
}

.p_category span {
    font-size: 18px !important;
}

.p_category:hover {
    cursor: pointer;
}

.close:hover {
    cursor: pointer;
}

.filter_Card {
    margin-bottom: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 5px;
}

.filter_Card:hover {
    cursor: pointer;
    background-color: rgb(247, 245, 245);
    transition: all linear 0.4s;
}

.search_bar {
    width: 80%;
    background-color: transparent;
    padding: 10px 10px !important;

}

.categories p {
    font-size: 15px;
    font-weight: 400;
    color: rgb(129, 128, 128);
}

.categories p:hover {
    padding: 3px 5px;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    background-color: #1B2950;
    transition: all linear 0.3s;
}
.accordian_btn{
    padding: 10px;
}
.accordian_btn2{
    /* width: 100%; */
    background-color: transparent;
    border: none;
    outline: none;
    padding: 15px 5px;
    color: rgb(129, 128, 128);
    font-weight: 700;
}

.accordian_btn2:hover{
    cursor: pointer;

}
.accordian_btn2:hover{
    cursor: pointer;
    background-color: transparent !important;
}
.p_display {
    display: none;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: all linear 0.3s;
}

.card:hover .p_display {
    display: block;
}

.grid_icon {
    background-color: white;
    color: rgb(2, 2, 94);
    cursor: pointer;
}

.grid_icon.active {
    background-color: rgb(2, 2, 94);
    color: white;
}

.grid_icon {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem 0.8rem;
    background-color: #F6F8FA;
    font-size: 1rem;
}

/* /////////////////////////// */



.price {
    color: #6254F3;
    font-weight: 500;
}

.p_description {
    display: none !important;
    font-size: 13px;
    color: rgb(172, 171, 171);
    text-align: center;
}

.product {
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product_box {
    overflow: hidden;
}

.product_box_list {
    border-radius: 7px;
}

.product_box:hover {
    cursor: pointer;
    border: 1px solid rgb(230, 229, 229);
    transition: all ease 0.1s !important;
}

.product_box:hover .p_description {
    display: block !important;
    transition: all linear 0.3s;
}

.p_img_box {
    position: relative;
    width: 100%;
    height: 250px;
}

.p_img_box_grid {
    position: relative;
    height: 150px;
}

.p_img_box_grid img {
    /* object-fit: cover; */
    /* object-position: center; */
    width: 100%;
    height: 100%;
}

.p_img_box img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
}


.p_img_box .overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}

.p_img_box_grid .overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}

.p_img_box:hover .overlay {
    left: 0;
}

.p_img_box_grid:hover .overlay {
    left: 0;
}
.grid_box_main:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all linear 0.3s;
}
.product_btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;
}

.product_btns button {
    width: 100%;
    font-weight: 500;
    color: white;
}

.product_box:hover .product_btns {
    display: block;
}

.p_detail_btn {
    margin: 10px 0px;
    padding: 10px 10px;
    background-color: rgb(2, 2, 94, 0.9);
}

.p_detail_btn:hover {
    background-color: rgb(2, 2, 94);
    color: white;
    font-weight: 600;
}

.p_whatsapp_btn {
    padding: 10px 10px;
    background-color: rgb(33, 211, 102, 0.9);
}

.p_whatsapp_btn:hover {
    background-color: rgb(33, 211, 102);
    color: white;
    font-weight: 600;
}
.accordian-item1{
    border: none;
    outline: none;
    padding: 0px;
}
@media screen and (max-width:768px) {
    .p_img_box {
        height: auto;
    }

    .search_bar {
        width: 95%;
    }
}