.r_btn {
    display: block;
}

.r_btn:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: all linear 0.3s;
}

.review_btn {
    width: fit-content;
    height: fit-content;
    font-weight: 500;
    color: white;
    background-color: rgb(2, 2, 94, 0.9);
    padding: 10px 20px !important;
    border: none;
    outline: none;
}

.review_btn:hover {
    font-weight: 600;
    color: white;
    background-color: rgb(2, 2, 94);
    transition: all linear 0.1s;
}

.review_img {
    width: 100px !important;
    height: 100px !important;
}

.review_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    overflow: auto;
}

.review_detail::-webkit-scrollbar {
    width: 5px;
    max-height: 10px !important;
}

.review_slide {
    width: 500px;
}
.swiper {
    width: 100%;
}