.r_btn{
    display: block;
}
.r_btn:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition: all linear 0.3s;
}
.comments_row{
    display: flex;
    /* justify-content: center; */
    height: 65vh;
    overflow: auto;
}

.comments_row::-webkit-scrollbar-thumb{
    background : #1b2950;
    border-radius: 50rem;
    max-height: 40px !important;
}
.comments_row::-webkit-scrollbar {
    width: 3px;
    max-height: 10px !important;
}

@media screen and (max-width:768px) {
    .comments_row::-webkit-scrollbar {
        display: none !important;
    }
}
@media screen and (max-width:992px) {
    .comments_row{
        justify-content: start !important;
    }
    
}