.slider-container {
  display: flex;
  gap: 250px;
  justify-content: center;
  align-items: center;
  height: fit-content;
  overflow: hidden;
}

.slide-text {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  white-space: nowrap;
  animation: moveRightToLeft 10s linear infinite; /* Adjust the duration as needed */
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}
