.chk_detail{
    height: 20px;
    overflow: hidden;
}
.chk_detail:hover, .detail_height:hover{
    cursor: pointer;
}
.detail_height{

    height: fit-content !important;
    transition: all linear 0.3s;
}
@media screen and (max-width:992px) {
    .checkout_display{
        display: flex;
        flex-direction: column-reverse;
    }
}