.card_box {
  width: 250px;
  height: fit-content;
  padding: 5px 0px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.card_box:hover{
  cursor: pointer;
  border: 1px solid rgb(230, 229, 229);
  transition: all ease 0.1s !important;
}

.card_img_box {
  width: 100% !important;
  height: 200px !important;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.card_img_box img{
  border-radius: 7px;
  width: 100%;
  height: 100%;
}
.discount{
  position: absolute;
  width:fit-content;
  padding: 2px 15px;
  background-color: rgb(255, 0, 0);
  top: 10px;
  border-radius: 40px;
  color: white;
}
.card_title {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_price {
  color: #fd5d39;
}

.card_Fprice {
  /* color: red; */
  font-weight: 600;
  margin-right: 4px;
}
.card_btns{
  display: none;
  width: 100%;
  height: 110px;
}
.card_box:hover .card_btns{
  display: block;
}
.order_btn{
  position: absolute;
  right: -200px;
  bottom: 55px;
  border: none;
  outline: none;
  background-color: rgb(253,93,57,0.9);
  color: white;
  width: 80%;
  font-weight: 500;
  padding: 10px 0px !important;
}

.card_whatsAp{
  position: absolute;
  left: -200px;
  bottom: 6px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: rgb(33, 211, 102,0.9);
  color: white;
  width: 80%;
  font-weight: 500;
  padding: 10px 20px;
}
.order_btn:hover{
  font-weight: 600;
  color: white;
  background-color: rgb(253,93,57);
  transition: all linear 0.1s;
}
.card_whatsAp:hover{
  font-weight: 600;
  color: white;
  background-color: rgb(33, 211, 102);
  transition: all linear 0.1s;
}

.card_box:hover .order_btn{
  right: 25px !important;
  transition: all ease-in-out 0.4s;
}

.card_box:hover .card_whatsAp{
  left: 25px !important;
  transition: all ease-in-out 0.8s;
}
.card_img_box .overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  transition: 0.3s ease;
}
.card_img_box:hover .overlay {
  left: 0;
}