.hero_main {
    width: 100%;
}

.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    object-fit: contain;

}

.slide_detail {
    position: absolute;
    width: 250px;
    padding: 10px !important;
    bottom: 0px;
    left: 0px;
    word-wrap: break-word;
    display: flex;
    border-radius: 5px;
}

.slide_detail .slide_title {
    font-size: 70px;
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
}

.slide_detail .slide_offer {
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    padding: 5px 10px;
    top: 0px;
    left: -40px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    transform: rotate(-33deg);
}

.swiper-slide {
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero_detail {
  

}
.hero_shop{
    position: absolute;
    bottom:  100px;
    left: 70px;
    background-color: #1b2950;
    border: none;
    outline: 1px solid #F7EEDD;
    color: #F7EEDD;
    padding: 10px 20px;
    font-weight: 600;
}
.hero_shop:hover{
    color: #F7EEDD;
    background-color: #1b2950;
    transform: scale(1.02);
    transition: all linear 0.3s;
}


@media screen and (max-width:768px) {
    .hero_heading {
        font-size: 25px;
    }

    .hero_text {
        font-size: 15px;
    }

    .hero_main {
        margin-top: 5px !important;
        width: 100%;
    }

}