
.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

.navbar {
      background-color: #1b2950; 
  }
  .navbar-nav{
    align-items: center;
  }
  .navbar-nav .nav-item .nav-link {
      color: white !important;
  }
  .dropdown-menu{
    overflow: hidden;
    height: 50vh;
    width: fit-content;
    background-color: white;
    box-shadow: rgba(247, 246, 246, 0.795) 1.95px 1.95px 2.6px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
  .dropdown_menu2{
    position: absolute;
    left: -40px;

    height: fit-content !important;
  }
  .dropdown-menu .dropdown-item{
    padding: 10px;
  }
  .dropdown-menu .dropdown-item:hover{
    background-color: #1b2950;
    color: white;
    padding-left:20px;
    transition: all linear .3s;
  }
  @media screen and (max-width:992px) {
    .navbar-brand{
        padding: 0px 0px 20px 0px;
    }
  }