.dashboard {
    width: 100%;
    padding: 0.5rem;
    /* border: 1px solid black; */
}

.sidebar {
    background-color: rgb(2, 2, 94);
    color: #fff;
    height: auto;
    transition: all 0.5s;
}
.bars {
    display: flex;
    font-size: 25px;
}
.bars,.logo:hover{
    cursor: pointer;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    /* border: 1px solid red; */
}

.link:hover {
    border-bottom: 1px solid #2b2c6c;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.active {
    border-bottom: 1px solid #2b2c6c;
}

.icon,
.link_text {
    font-size: 20px;
}

.extra {
    color: rgb(156, 155, 155);
    border-bottom: 1px solid white;
    margin-left: 0px !important;
    padding-left: 0px !important;
}